header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.header_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.header_voltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 6rem;
    margin: 1rem 0 0 1rem;

    text-decoration: none;
    color: black;
    border: .1rem solid black;

    border-radius: 1rem;

    background-color: rgb(205, 205, 205);
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 4rem;    
}

main a {
    flex-basis: calc(25% - 1.2rem); /* 25% de largura para cada link com espaço entre eles */
    text-align: center;
    margin: 0.6rem;
    text-decoration: none;
    color: black;
    border: .1rem solid black;
    padding: 1rem ;
    border-radius: 1rem;
    min-width: 15rem;
}

.calendario{
    font-size: 1.8rem;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: rgb(205, 205, 205);
}

.notas{
    font-size: 1.8rem;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: rgb(205, 205, 205);

}

.caixa_entrada{
    font-size: 1.8rem;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: rgb(205, 205, 205);
    
}

.comportamento{
    font-size: 1.8rem;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: rgb(205, 205, 205);
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: .1rem solid black;
    height: 6rem;
}

.nav_imgs{
    width: 4rem;
    height: 4rem;
}