/* começo da parte padrão */
html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    border-bottom: .1rem solid black;
    background-color: #d2edff;
}

.header_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.header_imgs {
    width: 4rem;
    height: 4rem;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main a {
    text-align: center;
    margin: 0.6rem;
    text-decoration: none;
    color: black;
    border: .1rem solid black;
    padding: 1rem ;
    border-radius: 1rem;
    width: 15rem;
   
}

.calendario{
    font-size: 1.8rem;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: #e3e3e3;
    font-family: 'Lora', serif;
}

.notas{
    font-size: 1.8rem;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: #e3e3e3;
    font-family: 'Lora', serif;
}

.caixa_entrada{
    font-size: 1.8rem;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: #e3e3e3;
    font-family: 'Lora', serif;
}

.comportamento{
    font-size: 1.8rem;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: #e3e3e3;
    font-family: 'Lora', serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: .1rem solid black;
    height: 6rem;
    background-color: #d2edff;
    width: 100%;
}
.nav_imgs{
    width: 4rem;
    height: 4rem;
}