body {
    height: 100%;
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: .1rem solid black;
    background-color: #d2edff;
}

.header_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.header_voltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 6rem;
    margin: 1rem 0 0 1rem;

    text-decoration: none;
    color: black;
    border: .1rem solid black;

    border-radius: 1rem;

    background-color: #e3e3e3;

    margin-bottom: .5rem;
    font-family: 'Lora', serif;
}

.voltar_img {
    width: 2rem;
}

.header_imgs {
    width: 4rem;
    height: 4rem;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7rem;
    margin-top:  2rem;    
    margin-left: 2rem;
    margin-right: 2rem;
}

.titulo {
    font-size: 1.9rem;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: bold;
}

.descricao {
    border: .1rem solid black;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: #e3e3e3;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sublinhado{
    text-decoration: underline;
    font-size: 1.6rem;
    font-family: 'Lora', serif;

}

.paragrafo{
    margin-top: .8rem;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: .1rem solid black;
    height: 6rem;
    width: 100%;
    background-color: #d2edff;
}

nav a{
    display: block;
}

.nav_imgs {
    width: 4rem;
    height: 4rem;
}