html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: #d2edff;
    border-bottom: .1rem solid black;
}
.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
}

.header_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.header_voltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 6rem;
    margin: 1rem 0 0 1rem;
    text-decoration: none;
    color: black;
    border: .1rem solid black;
    border-radius: 1rem;
    background-color: #e3e3e3;
    margin-bottom: .5rem;
    font-family: 'Lora', serif;
}

.voltar_img {
    width: 2rem;
}

.header_imgs {
    width: 4rem;
    height: 4rem;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendario {
    font-size: 1.8rem;

    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;

    background-color: #e3e3e3;

    margin-bottom: 1rem;
}
.calendario_imagem{
    height: 12.5rem;
    width: 12.5rem;
}
li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-family: 'Lora', serif;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    border-top: .1rem solid black;
    height: 6rem;
    background-color: #d2edff;
    width: 100%;
}

.nav_imgs{
    width: 4rem;
    height: 4rem;
}

h2{
    font-size: 1.2rem;
    margin: 1.2rem 0;
    border: .1rem solid black;
    padding: 1rem .6rem;
    border-radius: 1rem;
    background-color: #e3e3e3;
    font-family: 'Lora', serif;
}

.calendar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: .2rem;
}

.days {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.days p {
    top: 0;
    right: 0;
    border: .1rem solid #000;
    padding: .1rem .1rem 2rem 2rem;
    text-align: center;
}

.green_square {
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
    background-color: #41cc5b;
}

.red_square {
    margin-left: .5rem;
    width: 1rem;
    height: 1rem;
    background-color: #ff993b;
}

.red-day {
    background-color: #ff993b;
}

.green-day {
    background-color: #41cc5b;
}

p {
    font-family: 'Lora', serif;
}

h1 {
    font-family: 'Lora', serif;
}