

body {
    height: 100%;
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: .1rem solid black;
}

.header_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
}

.header_voltar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 6rem;
    margin: 1rem 0 0 1rem;

    text-decoration: none;
    color: black;
    border: .1rem solid black;

    border-radius: 1rem;

    background-color: rgb(205, 205, 205);

    margin-bottom: .5rem;
}

.voltar_img {
    width: 2rem;
}

.header_imgs {
    width: 4rem;
    height: 4rem;
}

main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7rem;
    margin-top:  2rem;    
    margin-left: 2rem;
    margin-right: 2rem;
}

.titulo {
    font-size: 1.9rem;
    text-align: center;
    font-weight: 600;
}

.descricao {
    border: .1rem solid black;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: rgb(205, 205, 205);
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 6.5rem;

    
}

.sublinhado{text-decoration: underline;
    font-size: 1.6rem;

}

.paragrafo{text-decoration: indigo;
    font-size: 1.4rem;

}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: .1rem solid black;
    height: 6rem;
}

nav a{
    display: block;
}

.nav_imgs {
    width: 4rem;
    height: 4rem;
}